* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(217, 54%, 11%);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.wrapper {
    background-color: hsl(216, 50%, 16%);
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
}

.image {
    height: 300px;
    width: 100%;
    cursor: pointer;
    padding-bottom: 10px;
    background-image: url("images/image-equilibrium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.image:hover {
    background-color: hsla(178, 100%, 50%, 0.5);
    background-blend-mode: soft-light;
}

.w1 {
    margin: 1.5rem 0;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.w1:hover {
    color: hsl(178, 100%, 50%);
}

.w2 {
    color: hsl(215, 51%, 70%);
}

.w3 {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.w3-left {
    display: flex;
    color: hsl(178, 100%, 50%);
}

.w3-right {
    display: flex;
    color: hsl(215, 51%, 70%);
}

.w3-right span,
.w3-left span {
    padding-right: 4px;
}

hr {
    background-color: hsl(215, 32%, 27%);
    border: none;
    height: 1px;
}

.w4 {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    font-size: 15px;
}

#img2 {
    height: 40px;
    width: 100%;
    padding-right: 10px;
}

#Jules {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    cursor: pointer;
}

#Jules:hover {
    color: hsl(178, 100%, 50%);
}

.attribution {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.attribution a {
    color: hsl(178, 100%, 50%);
}